/* ToDolist.css */
body {
    background-color: #87a7c6;
    font-family: 'Arial', sans-serif;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.02);
}

.card-title {
    font-weight: bold;
    color: #007bff;
    text-align: center;
    margin-bottom: 20px;
}

.form-label {
    font-weight: bold;
    color: #343a40;
}



.form-control {
         width: 50%;
}

button {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

ol {
    margin-top: 20px;
    padding-left: 20px;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    list-style-type: none;
}

li:last-child {
    border-bottom: none;
}
label
{
    font-size:25px ;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
